<section id="cart_items">
    <div class="container">
      <a>Add New Brand</a>
      <br/><br/>
      <div class="table-responsive cart_info">
        <table *ngIf="tableData" class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td *ngFor="let h of tableData.headerData">{{ h.value }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData.bodyData">
              <td *ngFor="let c of row" [ngSwitch]="c.key">
                <!-- <a *ngSwitchCase="'Id'" href="#">
                    1
                </a> -->
                <span *ngSwitchCase="'Id'" class="cart_delete">
                    <a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                </span>
                <a *ngSwitchCase="'BrandName'" href="#">
                    {{ c.value }}
                </a>
                <span *ngSwitchDefault>
                  {{ c.value }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section> 