@model IEnumerable<WebApp.Entities.Brand>
@using WebApp.Models.CommonViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Maintenance/_Layout.cshtml";
}

<div>
    <a asp-action="Edit">New Product</a>
</div>

<br />

<table class="table table-sm table-bordered table-hover table-striped">
    <thead class="bg-primary">
        <tr>
            <th>Brand</th>
        </tr>
    </thead>
    @foreach (var row in Model)
    {
        <tr>
            <td>
                <a asp-controller="Brands" asp-action="Details" asp-route-id="@row.Id">
                    @row.BrandName
                </a>
            </td>
        </tr>
    }
</table>

@section MaintenanceSection{
    @await Html.PartialAsync("_MaintenanceHeaderPartial", (KeyValue)ViewBag.MaintenanceHeader)
}


