@model IEnumerable<WebApp.Entities.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Maintenance/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Brand</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>@item.BrandName</td>
        </tr>
    }
</table>

