@using WebApp.Views.Maintenance

<ul class="nav nav-pills nav-stacked">
    <li class="@MaintenanceNavPages.BrandsNavClass(ViewContext)"><a asp-controller="Brands" asp-action="Index">Brands</a></li>
    <li class="@MaintenanceNavPages.CategoriesNavClass(ViewContext)"><a asp-controller="Categories" asp-action="Index">Categories</a></li>    
    <li class="@MaintenanceNavPages.PhotoImagesNavClass(ViewContext)"><a asp-controller="PhotoImages" asp-action="Index">Photo Images</a></li>
    <li class="@MaintenanceNavPages.ProductsNavClass(ViewContext)"><a asp-controller="Products" asp-action="Index">Products</a>
</ul>

