<div class="category-tab">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li *ngFor="let tb of tabHeaderList; let i = index" [ngClass]="{'active': i === 0 }">
          <a href="#" (click)="getTabProducts(tb)" data-toggle="tab">
            {{ tb }}           
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="tabProductList" class="tab-content">
      <div class="tab-pane fade active in" id="tshirt" >
        <div *ngFor = "let p of tabProductList" class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img [src] ="p.imageUrl" alt="" />
                <h2>{{ p.price | currency }}</h2>
                <p style="font-size: small">{{ p.productDescription }}</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>